#box-level {
  border: 1px solid #0e4f1f;
  background: #ffffff;
  padding: 16px;
  margin: 15px;
  font-size: 20px;
}

#b-1 {
  border: 1px solid #0e4f1f;
  background: #ffffff;
  padding: 16px;
  margin: 15px;
  font-size: 20px;
}

.plan-color {
  color: black;
}

.hello {
  color: grey;
}

.lo {
  background: #0e4f1f;
  border: 2px solid black;
  width: 80%;
  margin-top: 15px;
}

#redo {
  color: white;
}

#pop {
  border: 1px solid #0e4f1f;
  background: #ffffff;
  padding: 16px;
  margin: 15px;
  font-size: 20px;
}

section:hover,
section:active {
  border-color: red;
}

section {
  text-align: center;
}

.packages {
  background: lightgreen;
  border: 4px solid #0e4f1f;
  width: 80%;
  margin-top: 15px;
  padding: 8px;
  border-left: none;
}

.packages a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 32px;
}
